html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    height: 60vh;
}

/* Color Theme Swatches in Hex */
:root {
    --grey: #A1A2A6;
    --navy: #024959;
    --yellow: #F2C12E;
    --darkyellow: #F2AE30;
    --brown: #593E25;
}


.column {
    border: 10px solid var(--navy);
    border-radius: 50%;
    padding: 10% 33% 10% 33%;
    height: 15%;
    width: 15%;

}

.container h1 {
    font-size: 3.5em;
    font-family:"Rock Salt";
    line-height: 1.5em;
}

.container p {
    font-size: 2em;
    font-family: "Catamaran";
}

.a {
    button-background-color:var(--navy); 
}