html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
}

/* Color Theme Swatches in Hex */
:root {
    --grey: #A1A2A6;
    --navy: #024959;
    --yellow: #F2C12E;
    --darkyellow: #F2AE30;
    --brown: #593E25;
    --fontRS: "Rock Salt";
    --fontCat: "Catamaran"
}


 /* .column { 
    border: 10px solid var(--navy);
    border-radius: 50%;
    padding: 10% 33% 10% 33%; 
    height: 15%;
    width: 15%;

} */

.container h1 {
    font-size: 3.5em;
    font-family:"Rock Salt";
    line-height: 1.5em;
    color: white;
}

.container p {
    font-size: 2em;
    font-family: "Catamaran";
    font-weight:bold;
    color: white;
}

.hero-body {
    background-image: url("../images/beer-253791_1920.jpg");
}

.logo {
    font-family: var(--fontRS);
    font-size: 28px;
    /* background-image: url("../images/beer-mug-128px.png"); */
    position: relative;
}

.site-logo {
    position: absolute;
    left: 50px;
}

.tabs {
    font-family: var(--fontRS);
}

.search-refiner {
    font-family: var(--fontCat);
}

#search-for {
    font-weight: bold;
    font-size: 18px;
}