/* Color Theme Swatches in Hex */
:root {
    --grey: #A1A2A6;
    --navy: #024959;
    --yellow: #F2C12E;
    --darkyellow: #F2AE30;
    --brown: #593E25;
    --fontRS: "Rock Salt";
    --fontCat: "Catamaran"
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.column-index {
    border: 10px solid var(--navy);
    padding: 5%;
    height: 80vh;
    background-color: var(--navy);
}

.container h1 {
    word-break: keep-all;
    font-size: 3.5em;
    font-family: var(--fontRS);
    line-height: 1.5em;
    color: white;

}

.container p {
    word-break: keep-all;
    font-size: 1.5em;
    font-family: var(--fontCat);
    font-weight:bold;
    color: white;
    background-color: var(--navy);
    border: solid 10px var(--navy);
    justify-content: left;

}

.container ul {
    word-break: keep-all;
    font-size: 1.5em;
    font-family: var(--fontCat);
    font-weight:bold;
    color: white;
    background-color: var(--navy);
    border: solid 10px var(--navy);
}

.container a {
    color: white;
    

}

.container h2 {
    word-break: keep-all;
    font-family: var(--fontRS);
    font-size: 1.5em;
    color:white;
    line-height: 2em;
}

.hero-body {
    background-image: url("../images/beer-253791_1920.jpg");
    height: 100vh;
}

.logo {
    font-family: var(--fontRS);
    font-size: 30px;
    font-weight: bold;
}

.site-logo {
    position: relative;
    top: -80px;
    left: 80px;
    color: var(--brown)
}

.tabs {
    font-family: var(--fontRS);
}

.search-refiner {
    font-family: var(--fontCat);
    color: var(--brown);
    font-size: 17px;
    font-weight: bold;
}

.input {
    width: 275px;
}

.button{
    background-color: var(--navy);
    color: white;
}
#results-page {
    background-image: linear-gradient(white, var(--darkyellow));
}

#logo-image{
    position: relative;
    top: 30px;
    left: 105px;
    max-width: fit-content;
    filter: drop-shadow(0 0 0.75rem #e67038);
}

#map {
    height: 100vh;
    width: 100vw;
    border: 10px double var(--brown);
    border-radius: 50%;
}