html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    height: 60vh;
}

/* Color Theme Swatches in Hex */
:root {
    --grey: #A1A2A6;
    --navy: #024959;
    --yellow: #F2C12E;
    --darkyellow: #F2AE30;
    --brown: #593E25;
}


.column-index {
    border: 10px solid var(--navy);
    border-radius: 50%;
    height: 30rem;
    width: 30rem;
    padding: 5%;
    background-color: var(--navy);
}

.container h1 {
    word-break: keep-all;
    font-size: 3.5em;
    font-family:"Rock Salt";
    line-height: 1.5em;
    color: white;

}

.container p {
    word-break: keep-all;
    font-size: 2em;
    font-family: "Catamaran";
    font-weight:bold;
    color: white;
}

.hero-body {
    background-image: url("../images/beer-253791_1920.jpg");
    height: 100vh;
}



